#leaves {
  position: absolute;
  top: -50px;
  width: 100%;
  text-align: left;
  z-index: 2;

  i {
    display: inline-block;
    width: 400px;
    height: 150px;
    border-radius: 5% 40% 70%;
    box-shadow: inset 0px 0px 1px #222;
    border: 1px solid #333;
    z-index: 1;
    background: linear-gradient(to bottom right, #309900, #005600);

    @include skew(20deg);
    @include animation(fallingOne 5s 0s infinite);

    &:before {
      position: absolute;
      content: '';
      top: 117px;
      right: 9px;
      height: 27px;
      width: 32px;
      border-radius: 0% 15% 15% 0%;
      border-top: 1px solid #222;
      border-bottom: 1px solid #222;
      border-left: 0 solid #222;
      border-right: 1px solid #222;
      z-index: 1;
      background: linear-gradient(to right, rgba(0, 100, 0, 1), #005600);

      @include rotate(49deg);

      &:after {
        content: '';
        height: 125px;
        width: 10px;
        display: block;
        position: absolute;
        left: 85px;
        border-radius: 50%;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
        
        @include rotate(125deg);
      }
    }

    &:nth-of-type(2n) { @include animation(fallingTwo 5s 0s infinite); }
    &:nth-of-type(3n) { @include animation(fallingThree 5s 0s infinite); }

    &:nth-of-type(n) {
      height: 23px;
      width: 30px;
    }

    &:nth-of-type(n):before {
      width: 7px;
      height: 5px;
      top: 17px;
      right: 1px;
    }

    &:nth-of-type(n):after {
      width: 2px;
      height: 17px;
      left: 12px;
      top: 0;
    }

    &:nth-of-type(2n + 1) {
      height: 11px;
      width: 16px;
    }

    &:nth-of-type(2n + 1):before {
      width: 4px;
      height: 3px;
      top: 7px;
      right: 0;
    }

    &:nth-of-type(2n + 1):after {
      width: 2px;
      height: 6px;
      left: 5px;
      top: 1px;
    }

    &:nth-of-type(3n + 2) {
      height: 17px;
      width: 23px;
    }

    &:nth-of-type(3n + 2):before {
      height: 4px;
      width: 4px;
      top: 12px;
      right: 1px;
    }

    &:nth-of-type(3n + 2):after {
      height: 10px;
      width: 2px;
      top: 1px;
      left: 8px;
    }

    &:nth-of-type(n) { @include animation-delay(1.9s); }
    &:nth-of-type(2n) { @include animation-delay(3.9s); }
    &:nth-of-type(3n) { @include animation-delay(2.3s); }
    &:nth-of-type(4n) { @include animation-delay(4.4s); }
    &:nth-of-type(5n) { @include animation-delay(5s); }
    &:nth-of-type(6n) { @include animation-delay(3.5s); }
    &:nth-of-type(7n) { @include animation-delay(2.8s); }
    &:nth-of-type(8n) { @include animation-delay(1.5s); }
    &:nth-of-type(9n) { @include animation-delay(3.3s); }
    &:nth-of-type(10n) { @include animation-delay(2.5s); }
    &:nth-of-type(11n) { @include animation-delay(1.2s); }
    &:nth-of-type(12n) { @include animation-delay(4.1s); }
    &:nth-of-type(13n) { @include animation-delay(1s); }
    &:nth-of-type(14n) { @include animation-delay(4.7s); }
    &:nth-of-type(15n) { @include animation-delay(3s); }
    &:nth-of-type(n) { background: linear-gradient(to bottom right, #309900, #005600); }
    &:nth-of-type(2n + 2) { background: linear-gradient(to bottom right, #5e9900, #2b5600); }
    &:nth-of-type(4n + 1) { background: linear-gradient(to bottom right, #990, #564500); }

    &:nth-of-type(n) { @include opacity(.9); }
    &:nth-of-type(3n + 1) { @include opacity(.7); }
    &:nth-of-type(3n + 2) { @include opacity(.5); }
    &:nth-of-type(n) { @include rotate(180deg); }
    &:nth-of-type(n) {  @include animation-timing-function(ease-in-out); }
  }
}

@keyframes fallingOne {
  0% {
    @include multi-transform(translate3d(300px, 0, 0) rotate(0deg));
  }

  100% {
    @include multi-transform(translate3d(-350px, 1080px, 0) rotate(90deg));
    @include opacity(0);
  }
}

@keyframes fallingThree {
  0% {
    @include multi-transform(translate3d(0, 0, 0) rotate(-20deg));
  }

  100% {
    @include multi-transform(translate3d(-230px, 1080px, 0) rotate(-70deg));
    @include opacity(0);
  }
}

@keyframes fallingTwo {
  0% {
    @include multi-transform(translate3d(0, 0, 0) rotate(90deg));
  }

  100% {
    @include multi-transform(translate3d(-400px, 1080px, 0) rotate(0deg));
    @include opacity(0);
  }
}

.fish {
  width: 150px;
  height: 132px;
  background-image: url(../images/fish.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  z-index: 2;

  @include animation(swim 3s infinite);
}

.bubbles {
  position: absolute;
  bottom: 0;
  z-index: 5;
  margin-right: 50px;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;

  @include opacity(.5);
  @include animation(up 4s infinite);
}

.bubble-2 { left: 350px; @include animation(up 2s infinite); }

.bubble-3 {
  left: 750px;

  @include opacity(.30);
  @include animation(up 5s infinite);
}

.bubble-4 { left: 1150px; @include animation(up 6s infinite); }
.bubble-5 { left: 50px; @include animation(up 5s infinite); }

.bubble-6 {
  left: 300px;

  @include opacity(.30);
  @include animation(up 3s infinite);
}

.bubble-7 { left: 670px; @include animation(up 4s infinite); }

.bubble-8 {
  left: 1050px;

  @include opacity(.30);
  @include animation(up 3s infinite);
}

@keyframes swim {
  0% {
    @include multi-transform(translateY(-50px) translateX(0) rotate(30deg));
  }
  25% { 
    @include multi-transform(translateY(50px) translateX(650px) rotate(20deg));
  }
  50% {
    @include multi-transform(translateY(80px) translateX(800px));
  }
  75% {
    @include multi-transform(translateY(50px) translateX(1250px) rotate(-20deg));
  }
  100% {
    @include multi-transform(translateY(-170px) translateX(1700px) rotate(-40deg));
  }
}

#bird-content {
  position: absolute;
  width: 100px;
  height: 100%;
  margin-top: 100px;
  top: 0;
  left: 0;
  z-index: 2;

  @include animation(fly 3.5s infinite linear);
}

#shadow {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 300px;
  left: 0;
  border-width: 10px;
  border-left-width: 50px;
  border-top-width: 0;
  border-right-width: 40px;
  border-color: transparent;
  border-bottom-color: rgba(0, 0, 0, 0.6);
  border-style: solid;

  @include filter-blur(5px);

  &:after {
    content:'';
    position: absolute;
    width: 0;
    height: 0;
    top: 10px;
    left: -50px;
    border-width: 10px;
    border-left-width: 50px;
    border-bottom-width: 0;
    border-right-width: 40px;
    border-color: transparent;
    border-top-color: rgba(0, 0, 0, 0.6);
    border-style: solid;
  }
}

#bird {
  position: absolute;

  @include animation(bob 0.7s infinite cubic-bezier(0.7, 0.7, 0.1, 0.4));

  div { position: absolute; }
}

#body1,
#body2,
#wing-l,
#wing-r {
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

#body1 {
  border-width: 15px;
  border-left-width: 25px;
  border-top-width: 15px;
  border-right-width: 55px;
  border-top-color: #333;
}

#body2 {
  left: 50px;
  bottom: 0;
  border-width: 10px;
  border-left-width: 5px;
  border-top-width: 0;
  border-right-width: 15px;
  border-bottom-color: #777;
}

#wing-l {
  left: 22px;
  bottom: 0;
  border-width: 60px;
  border-left-width: 20px;
  border-top-width: 0;
  border-right-width: 6px;
  border-bottom-color: #444;

  @include animation(flap-l 0.7s infinite);
}

#wing-r {
  left: 22px;
  top: 0;
  border-width: 60px;
  border-left-width: 20px;
  border-bottom-width: 0;
  border-right-width: 6px;
  border-top-color: #777;

  @include animation(flap-r 0.7s infinite);
}

@keyframes up {
  100% { @include translateY(-2000px); }
}

@keyframes flap-r {
  0%, 10% { border-top-width: 60px; }
  40%, 60% { border-top-width: 10px; }
  100% { border-top-width: 60px; }
}

@keyframes flap-l {
  0% { border-bottom-width: 0; }
  40%, 60% { border-bottom-width: 40px; }
  100% { border-bottom-width: 0; }
}

@keyframes fly {
  0% {
    left: 0%;
    top: 100px;

    @include scale3d(0.5, 0.5, 1);
  }
  100% {
    left: 100%;
    top: 100px;

    @include scale3d(1, 1, 1);
  }
}

@keyframes bob {
  0% { top: 25px; }
  50% { top: 0; }
  100% { top: 25px; }
}